.card {
  width: 282px;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  display: block;
  height: 282px;
  background-position: center;
}

.card__footer {
  background-color: #fff;
  display: flex;
  color: #000;
}

.card__name {
  flex-grow: 1;
  margin: 25px 0 25px 20px;
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  line-height: 29.05px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__likebtn {
  background-image: url("../images/heartbtn.svg");
  background-color: transparent;
  margin-right: 20px;
  width: 21px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
  border: none;
}

.card__likebtn-change {
  background-image: url("../images/heartBlack.svg");
}

.card__likebtn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__deletebtn {
  width: 21px;
  height: 18px;
  background: url("../images/Trash.svg");
  /* position: absolute; */
  background-size: 21px 18px;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 15px;
  border: none;
  cursor: pointer;
}
