.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.popup__opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
  transition-delay: 0s;
}

.popup__content {
  width: 430px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  padding: 36px;
  box-sizing: border-box;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
}

.popup__caption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: #ffffff;
}

.popup__content-image-preview {
  background-color: transparent;
  width: 75vw;
  height: 75vh;
  position: relative;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../images/closeIcon.png);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.13s linear;
}

.popup__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
