/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -186px;
  margin-left: -215px;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_type_edit {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -186px;
  margin-left: -215px;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_type_add {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -186px;
  margin-left: -215px;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__open-add {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
  margin-left: 430px;
}
.modal__button {
  width: 40px;
  height: 40px;
  background: transparent url(../images/closeIcon.png) center no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.5s linear;
}

.modal__button-img {
  width: 40px;
  height: 40px;
  background: transparent url(../images/closeIcon.png) center no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.5s linear;
}

.modal__button:hover {
  opacity: 0.5;
}

.modal__container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 430px;
  width: 430px;
  height: 330px;
  background: #fff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal__container-input_error {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  transition: opacity 0.3s;
  margin: 0 36px;
  border-top: 1px solid rgba(227, 8, 8, 0.958);
}

.modal__container-input_error_visible {
  opacity: 1;
}

.modal__container-image-preview {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
}

.modal__container-title {
  margin: 34px 0 54px 36px;
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__container-input {
  margin: 0 36px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border: none;
}

.modal__container-name {
  margin: 0 36px 0 36px;
  padding: 0 0 13px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__container-description {
  margin: 0 36px 0 36px;
  padding: 0 0 13px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__container-button {
  margin: 48px 36px 0 36px;
  background: #000;
  height: 50px;
  text-align: center;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 2px;
  opacity: 1;
  transition: 0.13s linear;
  cursor: pointer;
}

.modal__container-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__container-button_disabled {
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  opacity: 0.2;
  cursor: none;
}

.modal__container-button_disabled:hover {
}

.modal__caption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: #ffffff;
}

@media screen and (max-width: 636px) {
  .modal {
    margin-top: -161px;
    margin-left: -141px;
  }
  .modal__add {
    margin-top: -161px;
    margin-left: -141px;
  }
  .modal__button {
    margin-left: 256px;
    margin-bottom: 13.62px;
    width: 26px;
    height: 26px;
  }
  .modal__container {
    max-width: 300px;
  }
  .modal__container-title {
    font-size: 18px;
    margin: 25px 0 75px 22px;
  }
  .modal__container-name {
    font-size: 14px;
    margin: 0 22px 30px 22px;
  }
  .modal__container-description {
    font-size: 14px;
    margin: 0 22px 0 22px;
  }
  .modal__container-button {
    margin: 45px 22px 0 22px;
    height: 46px;
  }
} */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}
.modal__open-add {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
  margin-left: 430px;
}
.modal__button {
  display: flex;
  width: 40px;
  height: 40px;
  background: transparent url(../images/closeIcon.png) center no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  top: 180px;
  right: 460px;
  cursor: pointer;
  transition: 0.5s linear;
}
.modal__button-img {
  width: 40px;
  height: 40px;
  background: transparent url(../images/closeIcon.png) center no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.5s linear;
}
.modal__button:hover {
  opacity: 0.5;
}
.modal__container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 430px;
  width: 430px;
  height: 330px;
  background: #fff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.modal__container-input_error {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  transition: opacity 0.3s;
  margin: 0 36px;
  border-top: solid 2px red;
}
.modal__container-input_error_visible {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  transition: opacity 0.3s;
  margin: 0 36px;
  border-top: solid 2px red;
}
.modal__container-image-preview {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
}
.modal__container-title {
  margin: 34px 0 54px 36px;
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}
.modal__container-input {
  margin: 0 36px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border: none;
}
#modal-name-error {
  padding-bottom: 10px;
}
.modal__container-name {
  margin: 0 36px 0 36px;
  padding: 0 0 13px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal__container-description {
  margin: 0 36px 0 36px;
  padding: 0 0 13px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal__container-button {
  margin: 30px 40px 30px 36px;
  background: #000;
  height: 50px;
  text-align: center;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 2px;
  opacity: 1;
  transition: 0.13s linear;
  cursor: pointer;
}
.modal__container-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.modal__container-button_disabled {
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  opacity: 0.2;
  cursor: none;
}
.modal__container-button_disabled:hover {
}
.modal__caption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .modal__button {
    top: 224px;
    right: 450px;
  }
}

@media screen and (max-width: 1024px) {
  .modal__button {
    top: 220px;
    right: 258px;
  }
}

@media screen and (max-width: 768px) {
  .modal__button {
    top: 225px;
    right: 130px;
  }
}

@media screen and (max-width: 636px) {
  .modal {
    margin-top: -161px;
    margin-left: -141px;
  }
  .modal__add {
    margin-top: -161px;
    margin-left: -141px;
  }
  .modal__button {
    margin-left: 256px;
    margin-bottom: 13.62px;
    width: 26px;
    height: 26px;
  }
  .modal__container {
    max-width: 300px;
  }
  .modal__container-title {
    font-size: 18px;
    margin: 25px 0 75px 22px;
  }
  .modal__container-name {
    font-size: 14px;
    margin: 0 22px 0 22px;
  }
  .modal__container-description {
    font-size: 14px;
    margin: 0 22px 0 22px;
  }
  .modal__container-button {
    margin: 45px 22px 0 22px;
    height: 46px;
  }

  .modal__container-input_error_visible {
    margin: 0 20px;
  }
}

@media screen and (max-width: 540px) {
  .modal__button {
    top: 230px;
    right: 87px;
  }

  .modal {
    margin: 0 auto;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  .modal__button {
    top: 236px;
    right: 42px;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .modal__button {
    top: 229px;
    right: 6px;
  }

  .modal {
    margin: 0 auto;
  }
}

@media screen and (min-width: 540px) and (max-width: 640px) {
  .modal {
    margin: 0 auto;
  }
}
